<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    # Controlador Frontal
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^([^\.]+)$ $1.php [NC,L]
    RewriteRule ^([^\.]+)$ $1.html [NC,L]
    
</IfModule>


<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>

<Files .htaccess>
Order allow,deny
Deny from all
</Files>